.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forms {
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center
}


.form{
  width: 500px;
  height: auto !important;
  border:3px solid rgb(226, 158, 158) !important; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  transition: all 0.5s ease !important;
  cursor: pointer !important;
  user-select: none !important;
  z-index: 10 !important;
  overflow: hidden !important
}

.content{
  margin-top: 10px !important;
}

.card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}

.card:hover {
  color: rgb(7, 7, 7);
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.homecard:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #1b9ce3;
  animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }

  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }

  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }

  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}

.form-group{
  text-align: left;
  font-weight: bold;

}

.img{
  width: 250px !important;
}

.form-control{
border: 2px solid rgb(2, 1, 5) !important;
}

h2{
  background-color: #08f198;
  font-weight: bold;
}


.error-box{
  border : 2px solid red !important
}

.success-box{
  border : 2px solid green !important
}